@import '../../node_modules/sh-core/src/base';

.icon-table {
    text-align: center;
    width: 100%;
    font-size: 36px;

    td {
        padding-bottom: 20px;
    }

    .table-label {
        margin-top: 15px;
        color: $color-font;
        font-size: 14px;
        font-family:$font-family;
    }
}