@import '../node_modules/sh-core/src/base';
$color-react: rgba(0, 216, 255, 1);
$nav-height: 53px;

.navSelect {
    position: absolute;
    overflow: hidden;
    transition: height .5s ease;
    &.close {
        height: 0;
    }
    &.open {
        height: 800px;
    }

    .navSelectList {
        top: 5px;
        position: relative;
        box-shadow: 0 1px 1px $color-box-dark-background3;

        .navSelectItem {
            min-width:250px;
            text-align: center;
            border-bottom: 1px solid $color-box-dark-background3;
            background-color: $color-secondary;
            position: relative;
            transition: height 1s ease;

            &:last-child{
                border-top: 3px transparent $color-box-dark-background3;
            }

            a {
                border-right: 0;
            }

        }
    }
}

body {
    color: $color-font;
    top:$nav-height;

    #app {
        height: 100%;
        width: 100%;

        overflow-y: auto;
    }

    .nav {
        position: fixed;
        height: $nav-height;
        top:0;
        width: 100%;
        z-index: 1001;
        box-shadow: 0 1px 1px $color-box-dark-background2;
        background-color: $color-secondary;

        .navItem {
            width: auto;
            display: inline-block;

            a {
                border-right: 1px solid $color-box-dark-background3;
                padding: 20px 50px;
                display: block;

                &:hover {
                    background-color: $color-primary;
                }
            }
        }
    }

    .header {
        position: relative;
        height: 500px;
        margin-bottom: 40px;

        background-color: $color-box-dark-background3;

        .subHeader {
            position: absolute;
            top: calc(50% - 87.5px);
            left: calc(50% - 325px);
            height: 175px;
            width: 650px;

            .logo {
                position: absolute;
                top: 0;
                left: 0;
                height: 175px;
                max-width: 150px;
            }

            .name {
                position: absolute;
                top: 20px;
                left: 140px;

                font-family: $font-family-condensed;
                font-size: 100px;
                font-weight: $font-weight-bold;
                font-style: italic;

                .sub {
                    text-transform: uppercase;
                    color: $color-react;
                }
            }

            .subText {
                position: absolute;
                top: 116px;
                left: 270px;

                font-size: 16.5px;
                font-weight: $font-weight-light;
            }
        }
    }

    .description {
        margin-bottom: 30px;
        padding: 20px;

        font-size: 18px;
        background-color: $color-box-background5;

        .title {
            font-size: 24px;
            color: $color-font;
        }

        .details {
            margin-top: 15px;
            font-weight: $font-weight-light;
            color: $color-line1;
            line-height: 1.3;
        }

        li {
            display: list-item;
            margin-left: 25px;
        }

        .depName {
            font-weight: $font-weight-normal;
            color: $color-font;
        }

    }

    .example {
        color: $color-font-label;
        margin-bottom: 30px;
        padding: 20px;

        background-color: $color-box-background5;

        pre {
            margin: 0;
            padding: 10px;

            background-color: $color-box-background5;
            border-radius: $size-border-radius;
        }

        .title {
            margin-bottom: 5px;
            color: $color-primary;
        }

        > .title {
            color: $color-font;
            font-size: 24px;
            margin-bottom: 10px;

            a {
                margin-left: 10px;
                vertical-align: middle;
            }

            .repo {
                img {
                    max-height: 25px;
                }
            }

            .build {
                img {
                    max-height: 25px;
                }
            }
        }

        .section:not(:first-child) {
            margin-top: 20px;
        }

        .options {
            width: 100%;

            color: $color-line2;
            border-collapse: collapse;
            line-height: 1.5;

            thead th {
                padding: 10px;
                border-top: solid 2px $color-line5;
                border-bottom: solid 2px $color-line5;

                &.colName {
                    width: 150px;
                }

                &.colType {
                    width: 75px;
                }

                &.colDefault {
                    width: 150px;
                }
            }

            tbody td {
                padding: 10px;

                border-bottom: solid 1px $color-line5;
                vertical-align: top;
            }
        }

        .subExampleWrapper:not(:first-child) {
            margin-top: 30px;
        }
    }

    .subExample {
        > div {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }

        .title {
            color: $color-font
        }

        .title:not(:first-child) {
            margin-top: 20px;
        }

        .col {
            width: calc(50% - 30px);
            padding: 10px;

            background: $color-box-background5;
        }

        .details {
            margin: 5px 0;
            color: $color-line2;
            line-height: 1.3;
        }

        .code {
            pre {
                overflow: auto;
            }

            code {
                display: inline-block;
                margin-top: -10px;
                overflow-x: auto;
                overflow-y: hidden;
                line-height: 1;
            }

            .token.attr-name {
                color: #76c696;
            }
        }
    }
}
