@import '../node_modules/sh-core/src/base';

body {
    color: $color-font;

    #app {
        height: 100%;
        width: 100%;

        overflow-y: auto;
    }

    .nav {
        .navItem {
            width: auto;
            display: inline-block;

            a {
                border-right: 1px solid $color-box-dark-background3;
                padding: 20px 50px;
                display: block;

                &:hover {
                    background-color: $color-box-background5;
                }
            }
        }
    }

    .header {
        position: relative;
        line-height: 400px;
        text-align: center;
        font-weight: 100;
        padding: 50px;
        background-color: $color-box-dark-background3;
        height: 500px;
        font-size: 121px;
        margin-bottom: 40px;

        .sub {
            font-weight: 800;
            font-size: 150px;
            color: $color-primary;
            font-family: "Comic Sans MS";
        }

        .subText {
            width: calc(100% - 50px);
            text-align: center;
            position: absolute;
            font-size: 30px;
            color: $color-box-background3;
            top: 160px;

        }
    }

    .example {
        color: $color-font-label;
        margin-bottom: 30px;
        padding: 20px;

        background-color: $color-box-background5;

        pre {
            margin: 0;
            padding: 10px;

            background-color: $color-box-background5;
            border-radius: $size-border-radius;
        }

        .title {
            margin-bottom: 5px;
            color: $color-primary;
        }

        .instructions {
            margin-bottom: 20px;
        }

        > .title {
            color: $color-font;
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    .subExample {
        > div {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }

        .title:not(:first-child) {
            margin-top: 20px;
        }

        .col {
            width: calc(50% - 30px);
            padding: 10px;

            background: $color-box-background5;
        }

        .code {
            pre {
                overflow: auto;
            }

            code {
                display: inline-block;
                margin-top: -10px;
                overflow-x: auto;
                overflow-y: hidden;
                line-height: 1;
            }
        }
    }
}
